*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: unset;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.webgl
{
    /* background: radial-gradient(black, #006388); */
    background: url(../static/images/pwd-web-design.webp);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    outline: none;
}

.spiel-section{
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    transition: 0.3s ease-in;
    transition-delay: 1.3s;
    height: 1000px; 
    background: url(../static/images/pwd-web-design.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.spiel-section:after{
    content: '';
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0;
    background: url(../static/images/astro-kid-min.webp);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    transition: 0.3s ease-in-out;
}
